<!DOCTYPE html>
<html lang="en">
  <head>
    <title>EasyFinder</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/favicon.ico') }}" />

    <link
      href="{{ url_for('static', filename='assets/fonts/lato.txt') }}"
      rel="stylesheet"
      type="text"
    />
    <link
      href="{{ url_for('static', filename='assets/fonts/montserrat.txt') }}"
      rel="stylesheet"
      type="text"
    />

    <script async defer src="{{ url_for('static', filename='assets/github/button.js') }}"></script>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='assets/bootstrap/css/bootstrap.min.css') }}"
    />
    <script src="{{ url_for('static', filename='assets/bootstrap/js/bootstrap.min.js') }}"></script>
    <link id="theme-style" rel="stylesheet" href="{{ url_for('static', filename='assets/css/theme-1.css') }}"/>
  </head>

  <body data-spy="scroll">
     <header id="header" class="header">
      <nav id="main-nav" class="main-nav navbar navbar-expand-md">
        <div class="container-fluid">
          <a class="navbar-brand logo" href="/">
            <span class="logo-title">easyFinder</span>
          </a>

          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbar-collapse"
            aria-controls="navbar-collapse"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span></button
          >

          <div class="navbar-collapse collapse" id="navbar-collapse">
            <ul id="nav-menu" class="nav navbar-nav ms-md-auto">
              <li class="nav-item">
                <a class="nav-link" href="/">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/register">Register</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/search">Search</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/search_image">ImageSearch</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <br />
    <br />
    <br />

    <div class="offset-header container bg-success-subtle">
      <form action="/search" method="POST" class="w-75 mx-auto p-4">
        <h2 class="text-center text-black-50 mx-5 banner">
          Search Missing Person
        </h2>
        <div class="form-group mt-3">
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" class="form-control" />
        </div>

        <div class="form-group">
          <label for="age">Age:</label>
          <input type="number" id="age" name="age" class="form-control" />
        </div>

        <div class="form-group">
          <label for="gender">Gender:</label>
          <select id="gender" name="gender" class="form-control">
            <option value="">Any</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="other">Other</option>
          </select>
        </div>

        <div class="form-group">
          <label for="height">Height (in ft):</label>
          <input type="text" id="height" name="height" class="form-control" />
        </div>

        <div class="form-group">
          <label for="weight">Weight (in kg):</label>
          <input type="text" id="weight" name="weight" class="form-control" />
        </div>

        <div class="form-group">
          <label for="missing-date">Missing Date:</label>
          <input
            type="date"
            id="missing-date"
            name="missing-date"
            class="form-control"
          />
        </div>

        <div class="form-group mt-2 mb-2">
          <input
            type="submit"
            value="Search"
            class="btn btn-primary btn-block w-100"
          />
        </div>
      </form>
      
    </div>
    <br />
    <footer class="footer">
      <div class="container text-center">
        <small class="copyright"
          >Designed with <span class="sr-only">love</span
          ><i class="fas fa-heart"></i> by
          <a href="#""
            >Sharanya - Praneetha - Rahul</a
          >
        </small>
      </div>
    </footer>
  </body>
</html>
